body { background: #e285ba; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 22px; display: flex; }
.block-token-0 { color: #215866; font-size: 19px; margin-bottom: 5px; }
.block-cluster-1 { color: #7177b0; font-size: 13px; margin-bottom: 5px; }
.block-notify-2 { color: #c79bfb; font-size: 13px; margin-bottom: 5px; }
.block-cache-3 { color: #12ac02; font-size: 17px; margin-bottom: 5px; }
.block-cache-4 { color: #202b1b; font-size: 12px; margin-bottom: 5px; }
.block-uploader-5 { color: #579d38; font-size: 18px; margin-bottom: 5px; }
.block-cluster-6 { color: #6c6532; font-size: 21px; margin-bottom: 5px; }